.spotifyLoginButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #1DB954; /* Couleur verte de Spotify */
    border-radius: 30px;
    transition: background-color 0.2s ease;
}

.spotifyLoginButton:hover {
    background-color: #1ED760; /* Couleur verte plus claire au survol */
}

.spotifyLoginButton:active {
    background-color: #1DB954; /* Couleur verte plus foncée lorsqu'on clique sur le bouton */
}
