@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.page {
    width: 100%;
    height: auto;

    background-color: #232528;
}


.header {
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    background-color: #232528;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #9FB1BC;
    z-index: 3000;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #6E8898;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.linkContainer {
    height: auto;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30vh;
}

.iconContainer {
    width: 20%;
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.searchbar {
    width: 50%;
    min-width: 50%;
}

.container {
    width: 85%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 15%;
    color: white;

}

.underline {
    text-decoration: underline;
}

.userInformations {
    width: 100%;
    height: 40%;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.playlistContainer {
    width: 100%;
    height: auto;
    border-top: 1px solid grey;
}
.followedContainer {
    width: 100%;
    height: 25%;
    border-top: 1px solid grey;
}

.subtitle {
    color: #9FB1BC;
    margin-top: 1.5%;
    margin-left: 2%;
    font-size: 25px;
    text-decoration: underline;
}

.imageContainer {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    color: #6E8898;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #9FB1BC;
    font-family: 'Quicksand', sans-serif

}

.profileLinks {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    bottom: 0px;
    padding: 2.5%;
}

.userStats {
    width: 20%;
    min-width: 25%;
}

.userName {
    font-size: 35px;
    color: #9FB1BC;
    margin-bottom: 20px;
    margin-right: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.createPlaylist {
    background-color: #FB5012;
    border-radius: 5px;
    width: 10%;
    min-width: 100px;
    height: 5%;
    min-height: 50px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-top: 5%
}

.createPlaylist:hover {
    background-color: #a4350c;
}

.modal {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modalContent {
    /*display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;*/
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    background-color: #2f3640;
}
