.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.formGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 15px;
    width: 100%;
}

.formField {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    background: transparent;
    padding: 5px;
    transition: border-color 0.2s;
}

.formLabel {
    font-size: 17px;
    color: #9b9b9b;
}

.formField:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #A67171, #FDB2B2);
    border-image-slice: 1;
}


.title {
    font-size: 75px;
    color: #9FB1BC;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    background-color: #212131;
    margin: auto;
    width: 35%;
    height: auto;
    border-radius: 5px;

}

.page {
    width: 100vw;
    height: 100vh;
    background-color: #07020D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #FDB2B2;
    color: #232528;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #FDB2B2;
    width: 50%;
    margin: 50px;
    padding: 5px 10px;
}

.button:hover {
    background-color: transparent;
    color: #FDB2B2;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.inputError {
  color: red;
}

.error {
    color: #FB5012;
    margin-bottom: 10px;
}


.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.iconButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
}
